{% extends 'base-front.html.twig' %}
{% block body %}
    <section class="d-flex align-items-center dark-overlay bg-cover"
             style="background-image: url('{{  asset("img/eventum.png") }}');">
        <div class="container py-6 py-lg-7 text-white overlay-content text-center">
            <div class="row">
                <div class="col-xl-10 mx-auto">
                    <h1 class="display-3 font-weight-bold text-shadow"><br></h1>
                    <p class="text-lg text-shadow"><br></p>
                </div>

            </div>
        </div>

    </section>

    <section class="py-6 bg-gray-100">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8">
                    <p class="subtitle text-secondary">Camping</p>
                    <h2>Liste des Campings </h2>
                </div>
                <div class="col-md-4 d-md-flex align-items-center justify-content-end"><a class="text-muted text-sm" href="blog.html">
                       <i class=""></i></a></div>
            </div>
            <div class="row">
                <!-- blog item-->

                <!-- blog item-->
                {% for camp in campings %}
                    <!-- blog item-->
                    <div class="col-lg-3   hover-animate">
                        <div class="card shadow border-0 h-100"><a href="post.html"><img class="img-fluid card-img-top" src="{{ asset( 'uploadcamp/'~camp.image)}}" alt="..."/></a>
                            <div class="card-body"><a class="text-uppercase text-muted text-sm letter-spacing-2" href="#">{{ camp.nom }} </a>
                                <h5 class="my-2"><a class="text-dark" href="post.html">{{ camp.lieu }}         </a></h5>
                                <p class="text-gray-500 text-sm my-3"><i class="far fa-clock mr-2"></i>{{ camp.dateFin ? camp.dateFin|date('Y-m-d') : '' }}</p>
                                <p class="my-2 text-muted text-sm"></p><a class="btn btn-link pl-0" href="{{ path('camping_show_part', {'id': camp.id}) }}">Info<i class="fa fa-long-arrow-alt-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ knp_pagination_render(campings) }}
    </section>




    </div>
    </div>

{% endblock %}