{% extends 'base-back.html.twig' %}

{% block title %}Event{% endblock %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 style="color:#FFA500"  class="card-title"> Liste des camping</h4>
                    <a   class="btn btn-warning btn-fw"      href="{{path ('camping_new') }}" >+ Ajouter</a>
                    <ul class="navbar-nav w-100">
                        <li class="nav-item w-100">
                            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                                <input type="text" id="myInput" alt="" onkeyup="myFunction()" class="form-control" placeholder="...">
                            </form>
                        </li>

                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Nom</th>
                                                            <th>Date_debut</th>
                                                            <th>Date_fin</th>
                                                            <th>Lieu</th>



                                                            <th>actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for camping in campings %}
                                                        <tr>
                                                            <td>{{ camping.id }}</td>
                                                            <td>{{ camping.nom }}</td>
                                                            <td>{{ camping.dateDebut ? camping.dateDebut|date('Y-m-d') : '' }}</td>
                                                            <td>{{ camping.dateFin ? camping.dateFin|date('Y-m-d') : '' }}</td>
                                                            <td>{{ camping.lieu  }}</td>
                                                            <td>

                                                            <td><label class="badge badge-danger"> <a href="{{ path('camping_delete', {'id': camping.id}) }}"><i class="mdi mdi-delete"></i></a></label><label class="badge badge-info"><a href="{{ path('camping_edit', {'id': camping.id}) }}"><i class="mdi mdi-table-edit"></i></a></label><label class="badge badge-warning"><a href="{{ path('camping_show', {'id': camping.id}) }}"><i class="mdi mdi-information-outline"></i></a></label></td>
                                                            </td>
                                                        </tr>
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="10">no records found</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                        {{ knp_pagination_render(campings) }}
                </div>

            </div>
        </div>
    </div>
</div>
    </div>
{% endblock %}