{% extends 'base-back.html.twig' %}

{% block body %}

    <div class="main-panel">
    <div class="content-wrapper">
    <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
    <h1>Liste des Utilisateurs</h1>



    <p style="100px" > <input  id="myInput"  type="text" placeholder="search">

    <button class="btn btn-success btn-icon-split" ><a href="{{ path('ajouterUtilisateur')  }}"><span class="text" style="color: white">Ajouter </span></a></button>



    <br><br>
    <table class="table table-bordered" id="t"  width="100%" cellspacing="0">
        <thead>
        <tr>
            <th> </th>
            <th> </th>
            <th>id  </th>
            <th>nom </th>
            <th>prenom </th>
            <th>login</th>
            <th>datenaissance</th>
            <th> email</th>
            <th>genre</th>



        </tr> </thead> <tbody id="myTable">
        {% for i in tableusers %}
            <tr>
                <td>  <a href="{{ path('modifieruser',{'id': i.id}) }}"  class="btn btn-info btn-icon-split">
                                            <span class="icon text-white-50">
                        <i class="fas fa-info-circle"></i>

                    </span>
                        <span class="text">Modifier</span>

                    </a></td>

                <td><a href="{{ path('supprimeruser',{'id': i.id}) }}"><img src="https://img.icons8.com/color/48/000000/trash--v2.png"/></a></td>

                <td>{{ i.id  }}</td>
                <td>{{ i.nom }}</td>
                <td>{{ i.prenom  }}</td>
                <td>{{ i.login  }}</td>
                <td>{{(i.datenaissance).format('d/m/Y')}}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.genre }}</td>





            </tr>

        {% endfor %}


        </tbody>
        <tbody id="search">
        </tbody>

    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}