{% extends 'baseBack.html.twig' %}

{% block title %}Nos Voyages{% endblock %}

{% block body %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 style="color:#FFA500"  class="card-title">liste voyages</h4>

    <table class="table"  border="1">
        <tbody>


            <tr>
                <th>Date Début du voyage</th>
                <td>{{ voyage.dateDebutVoy ? voyage.dateDebutVoy|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date fin du voyage</th>
                <td>{{ voyage.dateFinVoy ? voyage.dateFinVoy|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description du Voyage</th>
                <td>{{ voyage.descriVoy }}</td>
            </tr>
            <tr>
                <th>Destination du voyage</th>
                <td>{{ voyage.destinationVoy }}</td>
            </tr>
            <tr>
                <th>Nombre places maximum</th>
                <td>{{ voyage.nbrePlaceVoy }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{asset('upload/' ~ voyage.imageVoy)  }}"></td>
            </tr>
            <tr>
                <th>Prix du voyage</th>
                <td>{{ voyage.prixVoy }}</td>
            </tr>
        </tbody>
    </table>


                </div>
            </div>
        </div>
    </div>
</div>
    <a href="{{ path('voyage') }}">Retour à la liste</a>

    <a href="{{ path('voyageEdit', {'id': voyage.id}) }}">Modifier</a>
    <a href="{{ path('voyageDelete', {'id': voyage.id}) }}">Supprimer</a>


{% endblock %}
