{% extends 'base-back.html.twig' %}

{% block body %}


    <h1>Liste des Cartes Fidélités</h1>




    <button class="btn btn-success btn-icon-split" ><a href="{{ path('ajoutercarte')  }}"><span class="text" style="color: white">Ajouter </span></a></button>



    <br><br>
    <table class="table table-bordered" id="t"  width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Modifier  </th>
            <th>Supprimer  </th>
            <th>id  </th>
            <th>utilisateur nom </th>
            <th>num_fidelite </th>
            <th>date_ajout</th>
            <th>date_expiration</th>
        </thead>
        {% for i in tablecartes %}
<tbody>
<td>  <a href="{{ path('modifiercarte',{'id': i.id}) }}"  class="btn btn-info btn-icon-split">
                                            <span class="icon text-white-50">
                        <i class="fas fa-info-circle"></i>

                    </span>
        <span class="text">Modifier</span>

    </a></td>
<td><a href="{{ path('supprimercarte',{'id': i.id}) }}"><img src="https://img.icons8.com/color/48/000000/trash--v2.png"/></a></td>

                <td>{{ i.id  }}</td>
                <td>{{ i.Utilisateur }}</td>
                <td>{{ i.numFidelite  }}</td>
            <td>{{(i.DateAjout).format('d/m/Y')}}</td>
                <td>{{(i.DateExpiration).format('d/m/Y')}}</td>






            </tr>

        {% endfor %}


        </tbody>
        <tbody id="search">
        </tbody>

    </table>
{% endblock %}