
{% extends "Front/Forum/base.html.twig" %}
 {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Directory Theme by Bootstrapious</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,follow">
        <!-- Price Slider Stylesheets -->
        <link rel="stylesheet" href="{{ asset('vendor/nouislider/nouislider.css') }}">
        <!-- Google fonts - Playfair Display-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
        <!-- Google fonts - Poppins-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700">
        <!-- swiper-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
        <!-- Magnigic Popup-->
        <link rel="stylesheet" href="{{ asset('vendor/magnific-popup/magnific-popup.css') }}">
        <!-- theme stylesheet-->
        <link rel="stylesheet" href="{{ asset('css/style.default.css') }}" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">

        <!-- Favicon-->
        <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}">
        <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
        <!-- Font Awesome CSS-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
              crossorigin="anonymous">
     <script>
         // ------------------------------------------------------- //
         //   Inject SVG Sprite -
         //   see more here
         //   https://css-tricks.com/ajaxing-svg-sprite/
         // ------------------------------------------------------ //
         function injectSvgSprite(path) {

             var ajax = new XMLHttpRequest();
             ajax.open("GET", path, true);
             ajax.send();
             ajax.onload = function (e) {
                 var div = document.createElement("div");
                 div.className = 'd-none';
                 div.innerHTML = ajax.responseText;
                 document.body.insertBefore(div, document.body.childNodes[0]);
             }
         }

         // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
         // use your own URL in production, please :)
         // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
         //- injectSvgSprite('${path}icons/orion-svg-sprite.svg');
         injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg');

     </script>
     <!-- jQuery-->
     <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
     <!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
     <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
     <!-- Magnific Popup - Lightbox for the gallery-->
     <script src="{{ asset('vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
     <!-- Smooth scroll-->
     <script src="{{ asset('vendor/smooth-scroll/smooth-scroll.polyfills.min.js') }}"></script>
     <!-- Bootstrap Select-->
     <script src="{{ asset('vendor/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
     <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
     <script src="{{ asset('vendor/object-fit-images/ofi.min.js') }}"></script>
     <!-- Swiper Carousel                       -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
     <script>var basePath = ''</script>
     <!-- Main Theme JS file    -->
     <script src="{{ asset('js/theme.js') }}"></script>
     <script src="{{ asset('Topic/Home/js/scripts.js') }}"></script>


    {% endblock %}


    {% block content %}
        {{ parent() }}

        <section class="py-4">

            <div class="topic">

                <!-- Breadcrumbs -->
                <ol class="breadcrumb pl-0  justify-content-start">
                    <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>

                    <li class="breadcrumb-item active">{{ 'Forum'|trans }}</li>
                </ol>


                <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center mb-4">


                    <h1 class="mb-3 mb-md-0 hero-heading mb-0">{{ 'Topic'|trans }}</h1>

                </div>
                {% for item in data %}
                    <div class="card border-0 shadow mb-4">

                        <div class="card-body p-4">
                            <div class="text-block pb-3">
                                <div class="media align-items-center">
                                    <div class="media-body">

                                        <h6><a class="text-reset"
                                               href="{{ path('detailC',{'id':item.id,'lang':lang}) }}"> {{ item.title }}</a></h6>

                                        <p class="post-meta">{{ 'Posted by'|trans }}<a href="#"> Youssef
                                                Ammar </a> {{ 'on'|trans }} September 24, 2021
                                        </p>
                                        <p class="text-muted text-sm mb-0">{{ item.categorie }}</p>


                                    </div>
                                    <a href="{{ path('detailC',{'id':item.id,'lang':lang}) }}"><img class="ml-3 rounded"
                                                                                        src=" {{ asset ('/upload/forum/'~   item.image) }} "
                                                                                        alt="" width="100"></a>
                                </div>
                            </div>
                            <div>
                                <p><a class="text-secondary text-sm" href="{{ path('love',{'lang':lang,'id':item.id}) }}"> <i
                                                class="fa fa-heart"></i> {{ 'Bookmark This Topic'|trans }}
                                    </a></p>
                                <p class="text-muted text-sm">{{ item.bookmark }}  {{ 'people bookmarked this Topic'|trans }} </p>
                            </div>
                        </div>

                    </div>
                {% endfor %}

            </div>
            {# <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                        </div>
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Web Design</a></li>
                                    <li><a href="#!">HTML</a></li>
                                    <li><a href="#!">Freebies</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">JavaScript</a></li>
                                    <li><a href="#!">CSS</a></li>
                                    <li><a href="#!">Tutorials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Side Widget</div>
                    <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                </div>
            </div>
            </div>
            <div class="container">
        <div class="bar_sa">
            <div class="card border-0 shadow">
                <div class="card-body p-4">
                    <div class="text-block pb-3">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <h6> <a class="text-reset" href="detail-rooms.html">Modern Apt - Vibrant Neighborhood</a></h6>
                                <p class="text-muted text-sm mb-0">Entire home in New York</p>
                                <div class="mt-n1"><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-gray-200"></i>
                                </div>
                            </div><a href="detail-rooms.html"><img class="ml-3 rounded" src="img/photo/photo-1512917774080-9991f1c4c750.jpg" alt="" width="100"></a>
                        </div>
                    </div>
                    <div class="text-block py-3">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-3"><i class="fas fa-users fa-fw text-muted mr-2"></i>3 guests</li>
                            <li class="mb-0"><i class="far fa-calendar fa-fw text-muted mr-2"></i>Apr 17, 2019 <i class="fas fa-arrow-right fa-fw text-muted mx-3"></i>Apr 18, 2019</li>
                        </ul>
                    </div>
                    <div class="text-block pt-3 pb-0">
                        <table class="w-100">
                            <tbody>
                            <tr>
                                <th class="font-weight-normal py-2">$432.02 x 1 night</th>
                                <td class="text-right py-2">$432.02</td>
                            </tr>
                            <tr>
                                <th class="font-weight-normal pt-2 pb-3">Service fee</th>
                                <td class="text-right pt-2 pb-3">$67.48</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="border-top">
                                <th class="pt-3">Total</th>
                                <td class="font-weight-bold text-right pt-3">$499.50</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="card-footer bg-primary-light py-4 border-0">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <h6 class="text-primary">Flexible – free cancellation</h6>
                            <p class="text-sm text-primary opacity-8 mb-0">Cancel within 48 hours of booking to get a full refund. <a href="#" class="text-reset ml-3">More details</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
            <div class="container">
                <div class="bar_sa">
                    <div class="card border-0 shadow">
                        <div class="card-body p-4">
                            <div class="text-block pb-3">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <h6> <a class="text-reset" href="detail-rooms.html">Modern Apt - Vibrant Neighborhood</a></h6>
                                        <p class="text-muted text-sm mb-0">Entire home in New York</p>
                                        <div class="mt-n1"><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-gray-200"></i>
                                        </div>
                                    </div><a href="detail-rooms.html"><img class="ml-3 rounded" src="img/photo/photo-1512917774080-9991f1c4c750.jpg" alt="" width="100"></a>
                                </div>
                            </div>
                            <div class="text-block py-3">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-3"><i class="fas fa-users fa-fw text-muted mr-2"></i>3 guests</li>
                                    <li class="mb-0"><i class="far fa-calendar fa-fw text-muted mr-2"></i>Apr 17, 2019 <i class="fas fa-arrow-right fa-fw text-muted mx-3"></i>Apr 18, 2019</li>
                                </ul>
                            </div>
                            <div class="text-block pt-3 pb-0">
                                <table class="w-100">
                                    <tbody>
                                    <tr>
                                        <th class="font-weight-normal py-2">$432.02 x 1 night</th>
                                        <td class="text-right py-2">$432.02</td>
                                    </tr>
                                    <tr>
                                        <th class="font-weight-normal pt-2 pb-3">Service fee</th>
                                        <td class="text-right pt-2 pb-3">$67.48</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr class="border-top">
                                        <th class="pt-3">Total</th>
                                        <td class="font-weight-bold text-right pt-3">$499.50</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer bg-primary-light py-4 border-0">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <h6 class="text-primary">Flexible – free cancellation</h6>
                                    <p class="text-sm text-primary opacity-8 mb-0">Cancel within 48 hours of booking to get a full refund. <a href="#" class="text-reset ml-3">More details</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            #}
        </section>


    {% endblock %}
